.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

.idea/
*.iml

*.temp.txt
scenarios_temp.txt
testkeysy_temp.txt
description_temp.md

.env
*.env
.env.example

.DS_Store
Thumbs.db

*.log
*.sqlite3

data/raw_data/
data/lessons.json
data/chroma_db/
